[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
sqlalchemy = "*"
psycopg2 = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
